.content-project-component{
background-color: #0E050F;
width: 100%;
justify-content: center;
align-content: center;
align-items: center;
display: flex;
color: white;

}


.inf-top-blocos{
    margin-left: 2vh;
    margin-bottom: 2vh;
    width: 70vw;
    font-family: "Germania One", system-ui;
    font-weight: 40px;
    display: flex;
    justify-content:space-between;

}




.box-principal-component{
width: 84vw;
height: 100vh;
padding-top: 8vh;
display: flex;
}
.box-perfil-component{
    position: fixed;
    margin: 1vh;
width: 16vw;
height: 39vw;
background-color: #111111;
border-radius: 20px;

}

.img-perfil-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.img-perfil-component h3{
    display: flex;
    font-size: 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -4.5vh;
    font-family: "Satisfy", cursive;
} 


.img-perfil-component img{
   
    margin-left: 2.3vh;
   height: 36vh;
}


.blocos-component{
    margin-left: 36vh;
    display: flex;
    flex-direction: column;
}


.fila1-blocos{
    display: flex;
   
}

.fila1-bloco1{
    display: flex;
    flex-direction: column;
    background-color: #111111;
    font-family: "Germania One", system-ui;
    border: 1px solid rgba(128, 128, 128, 0.582);
    border-radius: 20px;
    margin: 1vh;
    height: 37vh;
    width: 22vw;
    
}

.fila1-bloco2{
    margin: 1vh;
    border-radius: 20px;
    height: 37vh;
    width: 22vw;
    border: 1px solid rgba(128, 128, 128, 0.582);
    background-color: #111111;
}


.fila1-bloco3{
    margin: 1vh;
    border-radius: 20px;
    height: 37vh;
    border: 1px solid rgba(128, 128, 128, 0.582);
    width: 22vw;
    background-color: #111111;
}


.fila2-blocos{
    margin-left: 13vh;
    display: flex;

}

.fila2-bloco1{
    margin: 1vh;
    border-radius: 20px;
    height: 34vh;
    width: 27vw;
    border: 1px solid rgba(128, 128, 128, 0.582);
    background-color: #111111;
    
}


.fila2-bloco2{
    margin: 1vh;
    border-radius: 20px;
    height: 34vh;
    width: 27vw;
    border: 1px solid rgba(128, 128, 128, 0.582);
    background-color: #111111;
}

.option-projetos{
   padding-right: 1vh;
   border-right: 4px solid gray;
  
}
.title-project{
    padding-top: 4vh;
}


.option-menubox-component{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 5vh;
}

.option-menubox-component a{
    padding-left: 10vh;
    display: flex; 
    align-items: center; 
    text-align: center;
    text-decoration: none;
    padding-top: 5.5vh;
    font-family: "Germania One", system-ui;
    font-size: 18px;
    color: gray;
    
}

.icon-option-component{
    height: 90%;
    margin-right: 1.5vh;
   
   
}

.img-bloco1-projetos img{
    border-radius: 20px;
    height: 23vh;
    width: 22vw;
    border-radius: 20px;

}

.legend-blocos-blocos{
    
    display: flex;
    text-align: center;
    
    
}

.legend-blocos-blocos h3{

   width: 10vh;
   height: 4vh;
   padding: 0.5vh;
   
    border-radius: 4px;
   margin: 1vh;
      border: 1px solid rgba(128, 128, 128, 0.582);
    
}

.title-blocos-rodape{
    padding-top: 2vh;
    display: flex;
    padding-left: 4vh;
    padding-right: 4vh;
    align-items: center;
    justify-content: space-between;

}

.content-img-box-fila2{
    background-color: red;
    border-radius: 20px;
    background-image: url('../../../assets/thumbnail.png');
    height: 20vh;
    width: 27vw;
    border-radius: 20px;

}