
.content-mobile {
    display: none;
}

@media screen and (max-width: 768px) {

    .content-mobile {
        background-color: rgba(0, 0, 0, 0.904);
        height: 140vh;
        display: flex;
        color: white;
        
       
    }

    .homemobile-content{
        display: flex;
        flex-direction: column;
    }

    .box-perfil-mobile{
        font-family: "Germania One", system-ui;
        margin-top: 3vh;
       margin-left: 6vh;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        height: 27vh;
        width: 78vw;
        background-color: #111111;
        border: 2px solid rgba(128, 128, 128, 0.26);
    }

    .img-perfil-mobile  {
        font-size: 19px;
        display: flex;
        flex-direction: column;
        margin-top: 1vh;
        text-align: center;
    }
    .img-perfil-mobile h3 {
        margin-top: -1vh
        
    }

    .img-perfil-mobile img {
        height: 20vh;
    }
    .description-me{
        margin-top: 2vh;
        margin-left: 2.4vh;
        border-radius: 20px;
        height: 48vh;
        width: 92vw;
        background-color: #111111;
        border: 2px solid rgba(128, 128, 128, 0.26);


    }
    .top-tittle{
        margin-top: 2vh;
        align-items: center;
        justify-content: space-around;
        display: flex;
    }
    .title-top-home{
        font-family: "Germania One", system-ui;
        font-size: 20px;

    }
    .information-top-home {
        display: flex;
        flex-direction: column;
    }
    
    .information-top-home p {
        display: flex; 
        align-items: center; 

        font-family: "Germania One", system-ui;
        margin: 5px 0; 
    }
    
    .icon-space {
        margin-right: 5px;
    }
    .txt-description-me{
        text-align:justify;
        margin-top: 2vh;
        margin-left: 3vh;
        margin-right: 3vh;
        color: gray;
        font-size: 20px;
        font-family: "Germania One", system-ui;
    }
  
    .list-home {
        border-radius: 20px;
        margin-top: 2vh;
        margin-left: 4vh;
        display: flex;
        width: 54vh;
        overflow-x: auto;
               
    }
    
    .list-box-home {
        text-align: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 auto;  
        border-radius: 20px;            
        margin: 1vh;
        height: 33vh;
        width: 29vh;
        background-color: #111111;
        scroll-snap-align: start;    
        border: 2px solid rgba(128, 128, 128, 0.26);
    }
    .list-box-home h1{
        font-family: "Germania One", system-ui;
        font-size: 60px;

    }
    .list-box-home p{
        font-size: 20px;
        font-family: "Germania One", system-ui;
        color: gray;

    }
    .list-box-home span{
        font-size: 26px;
        font-family: "Germania One", system-ui;
        color: gray;

    }
    .p-listbox{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .title-skills{
        margin-bottom: 1vh;
        font-size: 30px;
        font-family: "Germania One", system-ui;

    }

    .imgs-skills{
        display: flex;
      
        justify-content: center;

    }
    .imgs-skills img{
        height: 5vh;
        display: flex;
        
    }

  
    
    
    
    
   
    

    

}
