
.content-mobile {
    display: none;
}

@media screen and (max-width: 768px) {

    .content-mobile {
        background-color: rgba(0, 0, 0, 0.904);
        height: 100vh;
        display: flex;
        color: white;
        
       
    }

    .homemobile-content{
        display: flex;
       justify-content: center;
        
        
        
    }

    .box-perfil-mobile{
        font-family: "Germania One", system-ui;
        margin-top: 2vh;
        
       margin-left: 6vh;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        height: 27vh;
        width: 78vw;
        background-color: #111111;
        border: 2px solid rgba(128, 128, 128, 0.26);
    }

    .img-perfil-mobile  {
        font-size: 19px;
        display: flex;
        flex-direction: column;
        margin-top: 1vh;
        text-align: center;
    }
    .img-perfil-mobile h3 {
        margin-top: -1vh
        
    }

    .img-perfil-mobile img {
        height: 20vh;
    }

    

}
