
.content-mobile {
    display: none;
}

@media screen and (max-width: 768px) {

    .content-mobile {
        background-color: rgba(0, 0, 0, 0.904);
        height: 290vh;
        display: flex;
        color: white;
       
    }
}
