
.content-mobile {
    display: none;
}

@media screen and (max-width: 768px) {

    .content-mobile {
        background-color: rgba(0, 0, 0, 0.904);
        height: auto;
        display: flex;
        width: 49.9vh;
        color: white;
       
    }
    

    
}
