.content-mobile {
    display: none;
}

@media screen and (max-width: 768px) {

    .content-mobile {
        display: flex;
    }
    .content-study-mobile{
        height: 140vh;
        display: flex;
        background-color: rgba(0, 0, 0, 0.904);
        flex-direction: column;
        width: 49vh;
    }
    .title-study{
        
        margin-top: 4vh;
        display: flex;
        justify-content: center;
        font-family: "Germania One", system-ui;

    }

    .content-box-study h3{
        font-size: 27px;
        margin-top: 3vh;
        margin-left: 2vh;
        
        

    }
   
    .content-box-study {
        font-size: 27px;
        font-family: "Germania One", system-ui;
        margin-left: 2vh;
        margin-top: 6vh;
    }
    .boxs-study{
        margin-top: 2vh;
        overflow-x: auto;
        display: flex;

    }
    .box1study,.box2study ,.box3study{
        text-align: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 auto;  
        border-radius: 20px;            
        margin: 1vh;
        height: 26vh;
        width: 28vh;
        background-color: #111111;
        scroll-snap-align: start;    
        border: 2px solid rgba(128, 128, 128, 0.26);

    }

}